figure.highlight {
    margin: 0 0 1.2rem;
    border-radius: 7px;
    -webkit-box-shadow: 0 5px 10px 0 rgb(0 0 0 / 40%);
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 40%);
    overflow: hidden;
    transform: translate(0,0);
    -webkit-transform: translate(0,0);
}

figure.highlight .highlight-tools {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    overflow: hidden;
    min-height: 1.2rem;
    height: 2.15em;
    background: #1c1c1c;
    color: rgba(238,255,255,0.8);
    font-size: 14px;
}

figure.highlight .highlight-tools:after {
    position: absolute;
    left: 0.7rem;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fc625d;
    -webkit-box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
    box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
    content: ' ';
}

figure.highlight .highlight-tools .code-lang {
    position: absolute;
    left: 4.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.15em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

figure.highlight .highlight-tools .code-notice {
    right: 0;
    position: absolute;
    cursor: pointer;
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    -o-transition: -o-transform .3s;
    -ms-transition: -ms-transform .3s;
    transition: transform .3s;
}

figure.highlight .highlight-tools .code-notice i {
    padding: 0.4rem 0.7rem;
}

figure.highlight .highlight-tools .code-notice .expand.closed {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
    -webkit-transform: rotate(90deg)!important;
    -moz-transform: rotate(90deg)!important;
    -o-transform: rotate(90deg)!important;
    -ms-transform: rotate(90deg)!important;
    transform: rotate(90deg)!important;
}

figure.highlight pre[class*=language-] {
    border-radius: 0;
    margin: 0;
    background: #1c1c1c;
}
